.primary-nav {

	padding: 10px 0;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;

	@mixin atSmall {
		font-size: 1.2rem;
	}

	&--pull-right {

		@mixin atSmall {
			float: right;
		}
	}
	
	ul {
		margin: 0;
		padding: 0;
		color: $navText;

		@mixin clearfix;
	}

	li {
		list-style: none;
		padding-right: 35px;
		display: inline-block;

		@mixin atSmall {
			float: left;
			display: block;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atSmall {
			padding-right: 35px;
		}
	}

	a {
		color: $navText;
		text-decoration: none;
	}

}