.site-header {

	&__site-logo {
		font-size: 2.5rem;
		text-shadow: 2px 2px #a76f25;
		color: $mainOrange;
		width: 60px;
		height: 60px;
		position: absolute;
		transform: rotate(45deg);
		margin-top: 13px;
		background: rgba(255, 0, 0, .5);
	}

	&__menu-content {
		display: none;

		@mixin atSmall {
			display: block;
		}
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		background: white;
		position: absolute;
		left: 50%;
		transform: translate(-50%);

		@mixin atSmall {
			display: none;
		}
	}

	h6 {
		margin: 15px auto 0;
		text-align: center;
		transform: rotate(-45deg);
	}

	a {
		text-decoration: none;
		color: white;
	}

}